<div class="container">
    <table class="table table-light table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date of rental</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Book</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of rental, let i=index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ r.rentedDate }}</td>
          <td><a [routerLink]="['/reader/details', r.person.id]">{{ r.person.firstname }}</a></td>
          <td><a [routerLink]="['/reader/details', r.person.id]">{{ r.person.lastname }}</a></td>
          <td>{{ r.book.title }}</td>
          <td>{{ r.book.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  