<div class="container">
  <button type="button" class="btn btn-dark mb" (click)="addNew()">
    <i class="fas fa-plus-circle"></i> Add new reader
  </button>
  <table class="table table-light table-hover table-sm">
    <caption>
      List of readers
    </caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Created</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">City</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of person, let i=index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ p.created }}</td>
        <td>{{ p.firstname }}</td>
        <td>{{ p.lastname }}</td>
        <td>{{ p.city }}</td>
        <td>
          <i class="fas fa-info-circle fa-2x" (click)="details(p.id)" data-toggle="tooltip" data-placement="top" title="Details"></i>
          <i class="fas fa-pen-square fa-2x" (click)="update(p.id)" data-toggle="tooltip" data-placement="top" title="Update"></i>
          <i class="fas fa-times-circle fa-2x" (click)="delete(p.id)" data-toggle="tooltip" data-placement="top" title="Delete"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="removed" class="alert alert-success">Person was removed!</div>
</div>
