<div class="container">
  <form [formGroup]="bookUpdateForm" (ngSubmit)="updateBook()">
    <div class="form-group">
      <input
        type="hidden"
        name="id"
        formControlName="id"
        id="idInput"
        class="form-control"
      />
      <label for="titleInput">Title</label>
      <input
        type="text"
        value="{{ book?.title }}"
        formControlName="title"
        class="form-control"
        [ngClass]="
          bookUpdateForm.controls['title'].valid ? 'valid-input' : 'warn-input'
        "
        id="titleInput"
      />
      <p
        *ngIf="
          !bookUpdateForm.controls['title'].valid &&
          bookUpdateForm.controls['title'].touched
        "
        class="warn"
      >
        Title must constains at least 3 characters
      </p>
    </div>
    <div class="form-group">
      <label for="descInput">Description</label>
      <input
        type="text"
        value="{{ book?.description }}"
        formControlName="description"
        class="form-control"
        [ngClass]="
          bookUpdateForm.controls['description'].valid
            ? 'valid-input'
            : 'warn-input'
        "
        id="descInput"
      />
      <p
        *ngIf="
          !bookUpdateForm.controls['description'].valid &&
          bookUpdateForm.controls['description'].touched
        "
        class="warn"
      >
        Description must constains at least 3 characters
      </p>
    </div>
    <div class="form-group">
      <label for="isbnInput">ISBN</label>
      <input
        type="text"
        value="{{ book?.isbn }}"
        formControlName="isbn"
        [ngClass]="
          bookUpdateForm.controls['isbn'].valid ? 'valid-input' : 'warn-input'
        "
        id="isbnInput"
        class="form-control"
      />
      <p
        *ngIf="
          !bookUpdateForm.controls['isbn'].valid &&
          bookUpdateForm.controls['isbn'].touched
        "
        class="warn"
      >
        ISBN must constains at least 3 characters
      </p>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>

  <br />
  <div class="alert alert-success" role="alert" *ngIf="submitted">
    Book was successfully updated!
  </div>
  <div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="getBack()"
      *ngIf="submitted"
    >
      Get back to list
    </button>
  </div>
</div>
