<div class="container">
  <form [formGroup]="rentalAddForm" (ngSubmit)="createRental()">
    <div class="form-group">
      <h2>New rental:</h2>
      <label for="readerInput">Reader:</label>
      <input type="hidden" name="id" formControlName="id" />
      <select class="form-select" id="readerInput">
        <option *ngFor="let p of person" value="{{ p.id }}" name="person_id">
          {{ p.firstname }} {{ p.lastname }}
        </option>
      </select>
      <label for="bookInput">Book:</label>
      <select class="form-select" id="bookInput">
        <option *ngFor="let b of book" value="{{ b.id }}" name="book_id">
          {{ b.title }}
        </option>
      </select>
      <div class="form-group">
      <label for="dateInput">Date:</label>
      <br />
      <input
      class="form-control" placeholder="yyyy-mm-dd hh:mm:ss" ngbDatepicker
        type="datetime-local"
        name="rented_date"
        id="dateInput"
      />
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!rentalAddForm.valid"
    >
      Submit
    </button>
  </form>
  <br />
  <div class="alert alert-success" role="alert" *ngIf="submitted">
    Rental was added to database!
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="!submitted && createRental()">
    Something went wrong!
  </div>
  <div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="getBack()"ś
      *ngIf="submitted"
    >
      Get back to list
    </button>
  </div>
</div>
