/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.warn {
    color: red;
    padding: 2px 0px 2px 0px;
}

.warn-input {
    border: 1px solid red;
}

.valid-input {
    border: 1px solid green;
}
