/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.warn {
    color: red;
    padding: 2px 0px 2px 0px;
}

.warn-input {
    border: 1px solid red;
}

.valid-input {
    border: 1px solid green;
}

body {
    background-image: url("./assets/images/library-863148.jpeg");
    height: 100vh;
    background-size: cover;
}

.container {
    background-color: #fff;
    opacity: 0.9;
    margin-top: 1rem;
    padding: 10px;
}
