@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
button {
    margin: 0px 10px 0px 10px;
}

.nameApp {
    font-family: "Mate SC";
    color: brown;
    font-size: 2rem;
}